.DealsTabBar__IconTabsMenu__2YB9k {
	height: auto;
	width: 100%;
	max-width: 1366px;
	position: relative;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

[dir] .DealsTabBar__IconTabsMenu__2YB9k {
	padding: 0 83px;
	margin: 0 auto;
	clear: both
}

.DealsTabBar__IconTabsMenu__2YB9k a:focus-visible,
.DealsTabBar__IconTabsMenu__2YB9k div:focus-visible {
	outline-color: #248dff;
	outline-style: auto;
	outline-width: 1px
}

@media screen and (max-width:1279px) {
	[dir] .DealsTabBar__IconTabsMenu__2YB9k {
		padding: 0
	}
}

.DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__IconTabsBox__31HlX {
	width: 100%;
	height: inherit;
	overflow: hidden;
	position: relative
}

[dir] .DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__IconTabsBox__31HlX {
	text-align: center
}

@media screen and (max-width:1279px) {
	.DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__IconTabsBox__31HlX {
		overflow: scroll;
		-ms-overflow-style: none;
		scrollbar-width: none
	}
	.DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__IconTabsBox__31HlX::-webkit-scrollbar {
		display: none
	}
}

.DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__IconTabsBox__31HlX .DealsTabBar__IconTabsList__28xlZ {
	position: relative;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	width: auto
}

[dir] .DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__IconTabsBox__31HlX .DealsTabBar__IconTabsList__28xlZ {
	clear: both;
	margin-top: 8px
}

[dir=ltr] .DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__IconTabsBox__31HlX .DealsTabBar__IconTabsList__28xlZ {
	-webkit-transition: left .25s ease-out;
	-o-transition: left .25s ease-out;
	transition: left .25s ease-out
}

[dir=rtl] .DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__IconTabsBox__31HlX .DealsTabBar__IconTabsList__28xlZ {
	-webkit-transition: right .25s ease-out;
	-o-transition: right .25s ease-out;
	transition: right .25s ease-out
}

.DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__IconTabsBox__31HlX .DealsTabBar__IconTabsList__28xlZ .DealsTabBar__IconTabsListDiv__7X3bG {
	height: auto;
	width: 176px;
	min-width: 176px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative
}

[dir] .DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__IconTabsBox__31HlX .DealsTabBar__IconTabsList__28xlZ .DealsTabBar__IconTabsListDiv__7X3bG {
	cursor: pointer;
	text-align: center;
	padding: 0 16px
}

[dir=ltr] .DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__IconTabsBox__31HlX .DealsTabBar__IconTabsList__28xlZ .DealsTabBar__IconTabsListDiv__7X3bG {
	float: left
}

[dir=rtl] .DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__IconTabsBox__31HlX .DealsTabBar__IconTabsList__28xlZ .DealsTabBar__IconTabsListDiv__7X3bG {
	float: right
}

@media screen and (max-width:1279px) {
	.DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__IconTabsBox__31HlX .DealsTabBar__IconTabsList__28xlZ .DealsTabBar__IconTabsListDiv__7X3bG {
		width: 168px
	}
	[dir] .DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__IconTabsBox__31HlX .DealsTabBar__IconTabsList__28xlZ .DealsTabBar__IconTabsListDiv__7X3bG {
		padding: 0 12px
	}
}

@media screen and (max-width:731px) {
	.DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__IconTabsBox__31HlX .DealsTabBar__IconTabsList__28xlZ .DealsTabBar__IconTabsListDiv__7X3bG {
		width: 120px
	}
	[dir] .DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__IconTabsBox__31HlX .DealsTabBar__IconTabsList__28xlZ .DealsTabBar__IconTabsListDiv__7X3bG {
		padding: 0 4px
	}
}

.DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__IconTabsBox__31HlX .DealsTabBar__IconTabsList__28xlZ .DealsTabBar__IconTabsListDiv__7X3bG:before {
	content: "";
	height: 4px;
	width: 80px;
	display: inline-block;
	bottom: 1px;
	position: absolute;
	opacity: 0;
	-o-transition: .3s;
	transition: .3s
}

[dir] .DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__IconTabsBox__31HlX .DealsTabBar__IconTabsList__28xlZ .DealsTabBar__IconTabsListDiv__7X3bG:before {
	background-color: #000;
	-webkit-transition: .3s
}

[dir=ltr] .DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__IconTabsBox__31HlX .DealsTabBar__IconTabsList__28xlZ .DealsTabBar__IconTabsListDiv__7X3bG:before {
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%)
}

[dir=rtl] .DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__IconTabsBox__31HlX .DealsTabBar__IconTabsList__28xlZ .DealsTabBar__IconTabsListDiv__7X3bG:before {
	right: 50%;
	-webkit-transform: translateX(50%);
	-ms-transform: translateX(50%);
	transform: translateX(50%)
}

.DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__IconTabsBox__31HlX .DealsTabBar__IconTabsList__28xlZ .DealsTabBar__IconTabsListDiv__7X3bG:hover:before {
	opacity: 1;
	-o-transition: .3s;
	transition: .3s
}

[dir] .DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__IconTabsBox__31HlX .DealsTabBar__IconTabsList__28xlZ .DealsTabBar__IconTabsListDiv__7X3bG:hover:before {
	-webkit-transition: .3s
}

@media screen and (max-width:1023px) {
	.DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__IconTabsBox__31HlX .DealsTabBar__IconTabsList__28xlZ .DealsTabBar__IconTabsListDiv__7X3bG:hover:before {
		opacity: 0
	}
}

.DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__IconTabsBox__31HlX .DealsTabBar__IconTabsList__28xlZ .DealsTabBar__IconTabsListDiv__7X3bG .DealsTabBar__IconTabsIndicatorLine__9il-1 {
	display: none;
	width: 80px;
	height: 3px;
	-o-transition: width 2s ease;
	transition: width 2s ease;
	-o-transition: opacity 2.5s linear;
	transition: opacity 2.5s linear;
	position: relative;
	z-index: 20
}

[dir] .DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__IconTabsBox__31HlX .DealsTabBar__IconTabsList__28xlZ .DealsTabBar__IconTabsListDiv__7X3bG .DealsTabBar__IconTabsIndicatorLine__9il-1 {
	margin: 10px auto 0;
	border-radius: 100000px;
	background-color: #333;
	-webkit-transition: width 2s ease;
	-webkit-transition: opacity 2.5s linear
}

.DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__IconTabsBox__31HlX .DealsTabBar__IconTabsList__28xlZ .DealsTabBar__IconTabsListDiv__7X3bG .DealsTabBar__IconTabsIndicator__1GGDd {
	display: none
}

[dir] .DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__IconTabsBox__31HlX .DealsTabBar__IconTabsList__28xlZ .DealsTabBar__IconTabsListDiv__7X3bG .DealsTabBar__IconTabsIndicator__1GGDd {
	clear: both;
	margin-top: 30px
}

.DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__IconTabsBox__31HlX .DealsTabBar__IconTabsList__28xlZ .DealsTabBar__IconTabsListDiv__7X3bG .DealsTabBar__IconTabsIndicator__1GGDd .DealsTabBar__IconTabsIndicatorLineBg__1a1iI {
	position: relative;
	width: 100%;
	height: 4px
}

[dir] .DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__IconTabsBox__31HlX .DealsTabBar__IconTabsList__28xlZ .DealsTabBar__IconTabsListDiv__7X3bG .DealsTabBar__IconTabsIndicator__1GGDd .DealsTabBar__IconTabsIndicatorLineBg__1a1iI {
	border-radius: 100000px;
	background-color: #505050
}

.DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__active__2j8qs:after {
	content: "";
	height: 4px;
	width: 80px;
	display: inline-block;
	bottom: 1px;
	position: absolute;
	opacity: 1;
	-o-transition: .3s;
	transition: .3s
}

[dir] .DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__active__2j8qs:after {
	background-color: #000;
	-webkit-transition: .3s
}

[dir=ltr] .DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__active__2j8qs:after {
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%)
}

[dir=rtl] .DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__active__2j8qs:after {
	right: 50%;
	-webkit-transform: translateX(50%);
	-ms-transform: translateX(50%);
	transform: translateX(50%)
}

.DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__nextArea__2uaZO,
.DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__prevArea__SLWN7 {
	position: absolute;
	top: 0;
	width: 54px;
	height: 100%
}

[dir] .DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__nextArea__2uaZO,
[dir] .DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__prevArea__SLWN7 {
	cursor: pointer;
	background-color: #fff
}

@media screen and (max-width:1279px) {
	.DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__nextArea__2uaZO,
	.DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__prevArea__SLWN7 {
		display: none;
		width: 30px
	}
}

.DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__nextArea__2uaZO {
	opacity: 1
}

[dir=ltr] .DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__nextArea__2uaZO {
	right: 0
}

[dir=rtl] .DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__nextArea__2uaZO {
	left: 0
}

.DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__nextArea__2uaZO:hover {
	display: block
}

.DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__prevArea__SLWN7 {
	opacity: 1
}

[dir=ltr] .DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__prevArea__SLWN7 {
	left: 0
}

[dir=rtl] .DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__prevArea__SLWN7 {
	right: 0
}

.DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__prevArea__SLWN7:hover {
	display: block
}

.DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__next__2kvgs,
.DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__prev__zCC3r {
	position: absolute;
	top: 50%;
	width: 39px;
	height: 54px
}

[dir] .DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__next__2kvgs,
[dir] .DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__prev__zCC3r {
	text-align: center;
	margin-top: -50%
}

@media only screen and (max-width:768px) {
	.DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__next__2kvgs,
	.DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__prev__zCC3r {
		display: none
	}
}

@media screen and (max-width:731px) {
	.DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__next__2kvgs,
	.DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__prev__zCC3r {
		height: 11px;
		width: 11px
	}
}

[dir=ltr] .DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__prev__zCC3r {
	left: 7.5px
}

[dir=rtl] .DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__prev__zCC3r {
	right: 7.5px
}

@media screen and (max-width:731px) {
	[dir=ltr] .DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__prev__zCC3r {
		left: 9.5px
	}
	[dir=rtl] .DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__prev__zCC3r {
		right: 9.5px
	}
}

[dir=ltr] .DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__next__2kvgs {
	right: 7.5px
}

[dir=rtl] .DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__next__2kvgs {
	left: 7.5px
}

@media screen and (max-width:731px) {
	[dir=ltr] .DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__next__2kvgs {
		right: 9.5px
	}
	[dir=rtl] .DealsTabBar__IconTabsMenu__2YB9k .DealsTabBar__next__2kvgs {
		left: 9.5px
	}
}

.DealsTabBar__listDivTitle__T5B9I {
	line-height: 18px;
	font-size: .9375rem;
	max-height: 36px;
	overflow: hidden;
	color: #181818;
	word-break: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis
}

[dir] .DealsTabBar__listDivTitle__T5B9I {
	margin: 4px 0 8px
}

.DealsTabBar__chrstmasColor__2nqd_ {
	color: #da4800
}

.DealsTabBar__outletColor__2pPF9 {
	color: #40a73d
}

.DealsTabBar__listDivSubTitle__2TE23 {
	line-height: 16px;
	font-size: .8125rem;
	max-height: 32px;
	overflow: hidden;
	color: #666;
	word-break: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis
}

[dir] .DealsTabBar__listDivSubTitle__2TE23 {
	margin-bottom: 14px
}

.DealsTabBar__showType__1dt8G {
	height: auto
}

.DealsTabBar__seriesTab__167cf:after {
	content: "";
	display: block;
	height: 2px;
	width: 100%;
	position: absolute;
	bottom: .5px;
	z-index: 9
}

[dir] .DealsTabBar__seriesTab__167cf:after {
	background-color: #dcdcdc
}

[dir=ltr] .DealsTabBar__seriesTab__167cf:after {
	left: 0
}

[dir=rtl] .DealsTabBar__seriesTab__167cf:after {
	right: 0
}

.DealsTabBar__seriesTab__167cf .DealsTabBar__listDivImg__3Skv0 {
	height: 80px;
	width: 80px;
	overflow: hidden
}

[dir] .DealsTabBar__seriesTab__167cf .DealsTabBar__listDivImg__3Skv0 {
	margin: 0 auto
}

@media screen and (max-width:731px) {
	.DealsTabBar__seriesTab__167cf .DealsTabBar__listDivImg__3Skv0 {
		height: 64px;
		width: 64px
	}
}

.DealsTabBar__seriesTab__167cf .DealsTabBar__listDivImg__3Skv0 img {
	width: 80px;
	height: 80px;
	aspect-ratio: 144/80
}

@media screen and (max-width:731px) {
	.DealsTabBar__seriesTab__167cf .DealsTabBar__listDivImg__3Skv0 img {
		width: 64px;
		height: 64px;
		aspect-ratio: 144/64
	}
}

.DealsTabBar__hotDealsTab__mYJqJ .DealsTabBar__listDivTitle__T5B9I {
	height: 36px;
	word-break: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis
}

.DealsTabBar__hotDealsTab__mYJqJ .DealsTabBar__listDivImg__3Skv0 {
	overflow: hidden;
	height: 64px;
	width: 64px
}

[dir] .DealsTabBar__hotDealsTab__mYJqJ .DealsTabBar__listDivImg__3Skv0 {
	margin: 0 auto
}

.DealsTabBar__hotDealsTab__mYJqJ .DealsTabBar__listDivImg__3Skv0 img {
	width: 64px;
	height: 64px;
	aspect-ratio: 144/64
}

.DealsTabBar__hotDealsTab__mYJqJ .DealsTabBar__listDivSubTitle__2TE23 {
	display: none
}

.DealsTabBar__tabsLayout__3QPQe {
	position: relative;
	width: 100%;
	height: auto
}

[dir] .DealsTabBar__tabsLayout__3QPQe {
	background-color: #fff
}

.DealsTabBar__seriesLayoutLine__1kSLY {
	width: 100%;
	height: 1px
}

[dir] .DealsTabBar__seriesLayoutLine__1kSLY {
	background-color: #dcdcdc;
	margin-top: 15px
}

.DealsTabBar__dealsTabBar__2Ntcx .DealsTabBar__listDivTitle__T5B9I {
	height: 36px;
	word-break: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis
}

.DealsTabBar__dealsTabBar__2Ntcx .DealsTabBar__listDivImg__3Skv0 {
	aspect-ratio: 144/64;
	overflow: hidden
}

[dir] .DealsTabBar__dealsTabBar__2Ntcx .DealsTabBar__listDivImg__3Skv0 {
	margin: 0 auto
}

.DealsTabBar__dealsTabBar__2Ntcx .DealsTabBar__listDivSubTitle__2TE23 {
	display: none
}

.SortSelect__selectListWrapper__1-trC .SortSelect__selectWrapper__3da1R.SortSelect__isBorder__PoxIH .SortSelect__select__2AqKu {
	font-family: TT Norms W05 Normal, Segoe UI, Arial, PingFang TC, Microsoft JhengHei, sans-serif
}

.SortSelect__selectListWrapper__1-trC .SortSelect__selectWrapper__3da1R.SortSelect__isBorder__PoxIH .SortSelect__select__2AqKu:lang(tw),
.SortSelect__selectListWrapper__1-trC .SortSelect__selectWrapper__3da1R.SortSelect__isBorder__PoxIH .SortSelect__select__2AqKu:lang(zh-TW),
.SortSelect__selectListWrapper__1-trC .SortSelect__selectWrapper__3da1R.SortSelect__isBorder__PoxIH .SortSelect__select__2AqKu:lang(zh-tw) {
	font-family: TT Norms W05 Normal, Segoe UI, Arial, Microsoft JhengHei, Microsoft Yahei, SF Pro TC, SF Pro Text, PingFang TC, sans-serif
}

.SortSelect__selectListWrapper__1-trC .SortSelect__selectWrapper__3da1R.SortSelect__isBorder__PoxIH .SortSelect__select__2AqKu:lang(jp) {
	font-family: メイリオ, ヒラギノ 角ゴシックProN W3, Roboto, Segoe UI, 小塚ゴシック Pro H, KozGoPr6N-Heavy, KozGoPro-Heavy, ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, ＭＳ Ｐゴシック, MS PGothic, sans-serif
}

.SortSelect__selectListWrapper__1-trC .SortSelect__selectWrapper__3da1R.SortSelect__isBorder__PoxIH .SortSelect__select__2AqKu:lang(cn),
.SortSelect__selectListWrapper__1-trC .SortSelect__selectWrapper__3da1R.SortSelect__isBorder__PoxIH .SortSelect__select__2AqKu:lang(zh-CN),
.SortSelect__selectListWrapper__1-trC .SortSelect__selectWrapper__3da1R.SortSelect__isBorder__PoxIH .SortSelect__select__2AqKu:lang(zh-cn) {
	font-family: 微软雅黑, TT Norms W05 Normal, Segoe UI, Arial, PingFang TC, Microsoft JhengHei, sans-serif
}

.SortSelect__selectListWrapper__1-trC {
	position: relative
}

[dir] .SortSelect__selectListWrapper__1-trC {
	cursor: pointer
}

[dir=ltr] .SortSelect__selectListWrapper__1-trC {
	margin-left: 4px
}

[dir=rtl] .SortSelect__selectListWrapper__1-trC {
	margin-right: 4px
}

.SortSelect__selectListWrapper__1-trC .SortSelect__selectWrapper__3da1R {
	position: relative
}

.SortSelect__selectListWrapper__1-trC .SortSelect__selectWrapper__3da1R.SortSelect__isBorder__PoxIH {
	width: 100%;
	font-size: 1.0625rem
}

[dir] .SortSelect__selectListWrapper__1-trC .SortSelect__selectWrapper__3da1R.SortSelect__isBorder__PoxIH {
	border-radius: 4px;
	border: 1px solid grey
}

.SortSelect__selectListWrapper__1-trC .SortSelect__selectWrapper__3da1R.SortSelect__isBorder__PoxIH .SortSelect__select__2AqKu {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

[dir] .SortSelect__selectListWrapper__1-trC .SortSelect__selectWrapper__3da1R.SortSelect__isBorder__PoxIH .SortSelect__select__2AqKu {
	padding: 16px 12px
}

.SortSelect__selectListWrapper__1-trC .SortSelect__selectWrapper__3da1R.SortSelect__isBorder__PoxIH .SortSelect__select__2AqKu~svg {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 17px
}

[dir] .SortSelect__selectListWrapper__1-trC .SortSelect__selectWrapper__3da1R.SortSelect__isBorder__PoxIH .SortSelect__select__2AqKu~svg {
	margin: auto
}

[dir=ltr] .SortSelect__selectListWrapper__1-trC .SortSelect__selectWrapper__3da1R.SortSelect__isBorder__PoxIH .SortSelect__select__2AqKu~svg {
	right: 16px
}

[dir=rtl] .SortSelect__selectListWrapper__1-trC .SortSelect__selectWrapper__3da1R.SortSelect__isBorder__PoxIH .SortSelect__select__2AqKu~svg {
	left: 16px
}

.SortSelect__selectListWrapper__1-trC .SortSelect__selectWrapper__3da1R>div:first-child {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.SortSelect__selectListWrapper__1-trC .SortSelect__select__2AqKu {
	position: relative;
	color: #181818;
	font-size: .9375rem;
	-ms-flex-item-align: center;
	align-self: center;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

[dir] .SortSelect__selectListWrapper__1-trC .SortSelect__select__2AqKu {
	background-color: rgba(0, 0, 0, 0);
	border: 0
}

[dir=ltr] .SortSelect__selectListWrapper__1-trC .SortSelect__select__2AqKu {
	padding-right: 5px
}

[dir=rtl] .SortSelect__selectListWrapper__1-trC .SortSelect__select__2AqKu {
	padding-left: 5px
}

.SortSelect__selectListWrapper__1-trC .SortSelect__select__2AqKu~svg {
	width: 13px;
	max-height: 16px
}

.SortSelect__selectListWrapper__1-trC .SortSelect__select__2AqKu~svg path {
	stroke: #181818
}

@media screen and (max-width:731px) {
	.SortSelect__selectListWrapper__1-trC {
		width: 100%
	}
	[dir=ltr] .SortSelect__selectListWrapper__1-trC {
		margin-left: 0
	}
	[dir=rtl] .SortSelect__selectListWrapper__1-trC {
		margin-right: 0
	}
	[dir] .SortSelect__selectListWrapper__1-trC .SortSelect__selectWrapper__3da1R.SortSelect__isOpen__Q79J7 {
		border: 1px solid #006ce1
	}
	.SortSelect__selectListWrapper__1-trC .SortSelect__selectWrapper__3da1R.SortSelect__isOpen__Q79J7 .SortSelect__select__2AqKu~svg path {
		stroke: #006ce1!important
	}
}

.SortSelect__selectList__3diny {
	position: absolute;
	-webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .15);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	top: 24px;
	width: 176px;
	display: none;
	z-index: 100
}

[dir] .SortSelect__selectList__3diny {
	background: #fff;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .15);
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 16px;
	cursor: default
}

[dir=ltr] .SortSelect__selectList__3diny {
	right: 0
}

[dir=rtl] .SortSelect__selectList__3diny {
	left: 0
}

.SortSelect__selectList__3diny.SortSelect__isOpen__Q79J7 {
	display: block
}

.SortSelect__selectList__3diny .SortSelect__selectListOption__1XVra {
	font-size: .9375rem;
	color: #666
}

[dir] .SortSelect__selectList__3diny .SortSelect__selectListOption__1XVra {
	margin-bottom: 14px;
	cursor: pointer
}

.SortSelect__selectList__3diny .SortSelect__selectListOption__1XVra.SortSelect__selected__3Dvak {
	color: #181818
}

[dir] .SortSelect__selectList__3diny .SortSelect__selectListOption__1XVra:last-child {
	margin-bottom: 0
}

.SortSelect__selectList__3diny .SortSelect__selectListOption__1XVra:hover {
	color: #006ce1
}

@media screen and (max-width:731px) {
	.SortSelect__selectList__3diny {
		top: 50px;
		width: 100%
	}
	.SortSelect__selectList__3diny .SortSelect__selectListOption__1XVra {
		color: #181818
	}
	[dir] .SortSelect__selectList__3diny .SortSelect__selectListOption__1XVra {
		cursor: pointer
	}
	.SortSelect__selectList__3diny .SortSelect__selectListOption__1XVra.SortSelect__selected__3Dvak {
		color: #006ce1
	}
}

[dir=ltr] :export {
	modelNameContoainerPaddingRight: 0
}

[dir=rtl] :export {
	modelNameContoainerPaddingleft: 0
}

.Pagination__paginationWrapper__16rpA {
	position: relative;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

[dir] .Pagination__paginationWrapper__16rpA {
	margin-top: 16px
}

.Pagination__paginationWrapper__16rpA a:focus-visible,
.Pagination__paginationWrapper__16rpA div:focus-visible {
	outline-color: #248dff;
	outline-style: auto;
	outline-width: 1px
}

.Pagination__prevPage__E67wd {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

[dir=ltr] .Pagination__prevPage__E67wd {
	margin-right: 4px
}

[dir=rtl] .Pagination__prevPage__E67wd {
	margin-left: 4px
}

[dir] .Pagination__prevPage__E67wd.Pagination__disabled__1BBkI svg {
	cursor: default
}

.Pagination__prevPage__E67wd.Pagination__disabled__1BBkI svg path {
	stroke: #b3b3b3
}

.Pagination__prevPage__E67wd svg {
	width: 16px;
	height: 16px
}

[dir] .Pagination__prevPage__E67wd svg {
	cursor: pointer
}

.Pagination__prevPage__E67wd svg path {
	stroke: #181818
}

.Pagination__nextPage__1hzzE {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

[dir=ltr] .Pagination__nextPage__1hzzE {
	margin-left: 4px
}

[dir=rtl] .Pagination__nextPage__1hzzE {
	margin-right: 4px
}

[dir] .Pagination__nextPage__1hzzE.Pagination__disabled__1BBkI svg {
	cursor: default
}

.Pagination__nextPage__1hzzE.Pagination__disabled__1BBkI svg path {
	stroke: #b3b3b3
}

.Pagination__nextPage__1hzzE svg {
	width: 16px;
	height: 16px
}

[dir] .Pagination__nextPage__1hzzE svg {
	cursor: pointer
}

.Pagination__nextPage__1hzzE svg path {
	stroke: #181818
}

.Pagination__pageNumber__3gI9N {
	color: grey;
	font-size: .9375rem;
	width: 32px;
	height: 16px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

[dir] .Pagination__pageNumber__3gI9N {
	cursor: pointer;
	margin: 0 6px
}

.Pagination__pageNumber__3gI9N.Pagination__numberActive__1Buqn,
.Pagination__pageNumber__3gI9N:hover {
	color: #181818
}

[dir] .Pagination__pageNumber__3gI9N.Pagination__numberActive__1Buqn {
	cursor: default
}

.Pagination__pageNumber__3gI9N.Pagination__numberActive__1Buqn:hover {
	color: #181818
}

[dir=rtl] .Pagination__nextPage__1hzzE svg,
[dir=rtl] .Pagination__prevPage__E67wd svg {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg)
}

.ScrollTop__feedBackWrapper__1XqYH {
	position: fixed;
	bottom: 48px;
	-o-transition: .2s all ease-in-out;
	transition: all .2s ease-in-out;
	z-index: 1000
}

[dir] .ScrollTop__feedBackWrapper__1XqYH {
	-webkit-transition: all .2s ease-in-out;
	cursor: pointer
}

[dir=ltr] .ScrollTop__feedBackWrapper__1XqYH {
	right: 32px
}

[dir=rtl] .ScrollTop__feedBackWrapper__1XqYH {
	left: 32px
}

.ScrollTop__feedBackWrapper__1XqYH.ScrollTop__compare__3xKCt,
.ScrollTop__feedBackWrapper__1XqYH.ScrollTop__hasChat__3ZWRA {
	bottom: 124px
}

.ScrollTop__feedBackWrapper__1XqYH.ScrollTop__isShow__FF0GY {
	opacity: 1;
	display: block
}

[dir=ltr] .ScrollTop__feedBackWrapper__1XqYH.ScrollTop__isShow__FF0GY,
[dir=rtl] .ScrollTop__feedBackWrapper__1XqYH.ScrollTop__isShow__FF0GY {
	-webkit-animation: ScrollTop__fadein__2zBA3 2s;
	animation: ScrollTop__fadein__2zBA3 2s
}

.ScrollTop__feedBackWrapper__1XqYH.ScrollTop__compare__3xKCt.ScrollTop__hasChat__3ZWRA {
	bottom: 202px
}

.ScrollTop__feedBackWrapper__1XqYH.ScrollTop__compare__3xKCt.ScrollTop__hasChat__3ZWRA.ScrollTop__compareUp__1rCk4 {
	bottom: 278px
}

@media screen and (max-width:1279px) {
	.ScrollTop__feedBackWrapper__1XqYH.ScrollTop__compare__3xKCt.ScrollTop__hasChat__3ZWRA.ScrollTop__compareUp__1rCk4 {
		bottom: 308px
	}
}

.ScrollTop__feedBackWrapper__1XqYH.ScrollTop__compareUp__1rCk4 {
	bottom: 202px
}

@media screen and (max-width:1279px) {
	.ScrollTop__feedBackWrapper__1XqYH.ScrollTop__compareUp__1rCk4 {
		bottom: 232px
	}
}

[dir=ltr] .ScrollTop__feedBackWrapper__1XqYH.ScrollTop__compareDown__2TwLD,
[dir=rtl] .ScrollTop__feedBackWrapper__1XqYH.ScrollTop__compareDown__2TwLD {
	-webkit-animation: ScrollTop__buttonDown__2IZ1l 1.5s forwards;
	animation: ScrollTop__buttonDown__2IZ1l 1.5s forwards
}

@media screen and (max-width:731px) {
	[dir=ltr] .ScrollTop__feedBackWrapper__1XqYH.ScrollTop__compareDown__2TwLD,
	[dir=rtl] .ScrollTop__feedBackWrapper__1XqYH.ScrollTop__compareDown__2TwLD {
		-webkit-animation: ScrollTop__buttonDownMobile__3k1sM 1.5s forwards;
		animation: ScrollTop__buttonDownMobile__3k1sM 1.5s forwards
	}
}

[dir=ltr] .ScrollTop__feedBackWrapper__1XqYH.ScrollTop__compareDownNoChat__fJvGb,
[dir=rtl] .ScrollTop__feedBackWrapper__1XqYH.ScrollTop__compareDownNoChat__fJvGb {
	-webkit-animation: ScrollTop__buttonDownNoChat__2CyAl 1.5s forwards;
	animation: ScrollTop__buttonDownNoChat__2CyAl 1.5s forwards
}

@media screen and (max-width:731px) {
	[dir=ltr] .ScrollTop__feedBackWrapper__1XqYH.ScrollTop__compareDownNoChat__fJvGb,
	[dir=rtl] .ScrollTop__feedBackWrapper__1XqYH.ScrollTop__compareDownNoChat__fJvGb {
		-webkit-animation: ScrollTop__buttonDownMobileNoChat__1l9RR 1.5s forwards;
		animation: ScrollTop__buttonDownMobileNoChat__1l9RR 1.5s forwards
	}
}

@media screen and (max-width:731px) {
	.ScrollTop__feedBackWrapper__1XqYH {
		width: 44px;
		height: 44px;
		bottom: 16px
	}
	[dir=ltr] .ScrollTop__feedBackWrapper__1XqYH {
		right: 16px
	}
	[dir=rtl] .ScrollTop__feedBackWrapper__1XqYH {
		left: 16px
	}
	.ScrollTop__feedBackWrapper__1XqYH.ScrollTop__hasChat__3ZWRA {
		bottom: 70px
	}
}

.ScrollTop__scrollTopWrapper__m4MVR {
	width: 60px;
	height: 60px;
	z-index: 1000;
	display: none;
	opacity: 0;
	-o-transition: .2s all ease-in-out;
	transition: all .2s ease-in-out
}

[dir] .ScrollTop__scrollTopWrapper__m4MVR {
	border-radius: 100%;
	-webkit-transition: all .2s ease-in-out
}

.ScrollTop__scrollTopWrapper__m4MVR.ScrollTop__compare__3xKCt,
.ScrollTop__scrollTopWrapper__m4MVR.ScrollTop__hasChat__3ZWRA {
	bottom: 124px
}

.ScrollTop__scrollTopWrapper__m4MVR.ScrollTop__isShow__FF0GY {
	display: block
}

[dir=ltr] .ScrollTop__scrollTopWrapper__m4MVR.ScrollTop__isShow__FF0GY,
[dir=rtl] .ScrollTop__scrollTopWrapper__m4MVR.ScrollTop__isShow__FF0GY {
	-webkit-animation: ScrollTop__scrollTopWrapperShow__1vWT2 .8s forwards;
	animation: ScrollTop__scrollTopWrapperShow__1vWT2 .8s forwards
}

.ScrollTop__scrollTopWrapper__m4MVR.ScrollTop__compare__3xKCt.ScrollTop__hasChat__3ZWRA {
	bottom: 202px
}

.ScrollTop__scrollTopWrapper__m4MVR.ScrollTop__compare__3xKCt.ScrollTop__hasChat__3ZWRA.ScrollTop__compareUp__1rCk4 {
	bottom: 278px
}

@media screen and (max-width:1279px) {
	.ScrollTop__scrollTopWrapper__m4MVR.ScrollTop__compare__3xKCt.ScrollTop__hasChat__3ZWRA.ScrollTop__compareUp__1rCk4 {
		bottom: 308px
	}
}

.ScrollTop__scrollTopWrapper__m4MVR.ScrollTop__compareUp__1rCk4 {
	bottom: 202px
}

@media screen and (max-width:1279px) {
	.ScrollTop__scrollTopWrapper__m4MVR.ScrollTop__compareUp__1rCk4 {
		bottom: 232px
	}
}

[dir=ltr] .ScrollTop__scrollTopWrapper__m4MVR.ScrollTop__compareDown__2TwLD,
[dir=rtl] .ScrollTop__scrollTopWrapper__m4MVR.ScrollTop__compareDown__2TwLD {
	-webkit-animation: ScrollTop__buttonDown__2IZ1l 1.5s forwards;
	animation: ScrollTop__buttonDown__2IZ1l 1.5s forwards
}

@media screen and (max-width:731px) {
	[dir=ltr] .ScrollTop__scrollTopWrapper__m4MVR.ScrollTop__compareDown__2TwLD,
	[dir=rtl] .ScrollTop__scrollTopWrapper__m4MVR.ScrollTop__compareDown__2TwLD {
		-webkit-animation: ScrollTop__buttonDownMobile__3k1sM 1.5s forwards;
		animation: ScrollTop__buttonDownMobile__3k1sM 1.5s forwards
	}
}

[dir=ltr] .ScrollTop__scrollTopWrapper__m4MVR.ScrollTop__compareDownNoChat__fJvGb,
[dir=rtl] .ScrollTop__scrollTopWrapper__m4MVR.ScrollTop__compareDownNoChat__fJvGb {
	-webkit-animation: ScrollTop__buttonDownNoChat__2CyAl 1.5s forwards;
	animation: ScrollTop__buttonDownNoChat__2CyAl 1.5s forwards
}

@media screen and (max-width:731px) {
	[dir=ltr] .ScrollTop__scrollTopWrapper__m4MVR.ScrollTop__compareDownNoChat__fJvGb,
	[dir=rtl] .ScrollTop__scrollTopWrapper__m4MVR.ScrollTop__compareDownNoChat__fJvGb {
		-webkit-animation: ScrollTop__buttonDownMobileNoChat__1l9RR 1.5s forwards;
		animation: ScrollTop__buttonDownMobileNoChat__1l9RR 1.5s forwards
	}
}

.ScrollTop__scrollTopIcon__32D5F {
	position: relative;
	width: 60px;
	height: 60px
}

[dir] .ScrollTop__scrollTopIcon__32D5F {
	cursor: pointer
}

@media screen and (max-width:731px) {
	.ScrollTop__scrollTopIcon__32D5F {
		max-width: 44px;
		height: 44px
	}
}

@-webkit-keyframes ScrollTop__fadein__2zBA3 {
	0% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

@keyframes ScrollTop__fadein__2zBA3 {
	0% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

@-webkit-keyframes ScrollTop__scrollTopWrapperShow__1vWT2 {
	0% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

@keyframes ScrollTop__scrollTopWrapperShow__1vWT2 {
	0% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

@-webkit-keyframes ScrollTop__scrollTopShow__w3B0F {
	to {
		bottom: 0
	}
}

@keyframes ScrollTop__scrollTopShow__w3B0F {
	to {
		bottom: 0
	}
}

@media screen and (max-width:731px) {
	.ScrollTop__scrollTopWrapper__m4MVR {
		width: 44px;
		height: 44px;
		bottom: 16px
	}
	[dir=ltr] .ScrollTop__scrollTopWrapper__m4MVR {
		right: 16px
	}
	[dir=rtl] .ScrollTop__scrollTopWrapper__m4MVR {
		left: 16px
	}
	.ScrollTop__scrollTopWrapper__m4MVR.ScrollTop__hasChat__3ZWRA {
		bottom: 76px
	}
}

@-webkit-keyframes ScrollTop__buttonDown__2IZ1l {
	0% {
		bottom: 278px;
		max-width: 60px
	}
	66% {
		bottom: 278px;
		max-width: 60px
	}
	to {
		bottom: 202px;
		max-width: 60px
	}
}

@keyframes ScrollTop__buttonDown__2IZ1l {
	0% {
		bottom: 278px;
		max-width: 60px
	}
	66% {
		bottom: 278px;
		max-width: 60px
	}
	to {
		bottom: 202px;
		max-width: 60px
	}
}

@-webkit-keyframes ScrollTop__buttonDownNoChat__2CyAl {
	0% {
		bottom: 202px;
		max-width: 60px
	}
	66% {
		bottom: 202px;
		max-width: 60px
	}
	to {
		bottom: 124px;
		max-width: 60px
	}
}

@keyframes ScrollTop__buttonDownNoChat__2CyAl {
	0% {
		bottom: 202px;
		max-width: 60px
	}
	66% {
		bottom: 202px;
		max-width: 60px
	}
	to {
		bottom: 124px;
		max-width: 60px
	}
}

.ScrollTop__feedBackDiv__25ltd {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	color: #fff;
	z-index: 1000;
	width: 150px;
	height: 48px;
	top: -121px
}

[dir] .ScrollTop__feedBackDiv__25ltd {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+PHBhdGggZD0iTTI1LjIgMTYuOHYtMTBjMC0xLjEtLjktMi0yLTJoLTE2Yy0xLjEgMC0yIC45LTIgMnYxNWMwIDEuMS45IDIgMiAyaDguMiIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+PHBhdGggZD0iTTE1LjQgMTEuOWwxMS41IDExLjVzMSAxLjUtLjUgMy0zIC41LTMgLjVMMTEuOSAxNS40cy0yLTUtMS41LTUuNSA1IDIgNSAyeiIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjEuNSIvPjwvc3ZnPg==);
	background-repeat: no-repeat;
	background-size: 32px 32px;
	background-color: #005ec4
}

[dir=ltr] .ScrollTop__feedBackDiv__25ltd {
	background-position: bottom 6px right 15px;
	right: -83px;
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg)
}

[dir=rtl] .ScrollTop__feedBackDiv__25ltd {
	background-position: bottom 6px left 15px;
	left: -83px;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg)
}

@media screen and (max-width:731px) {
	.ScrollTop__feedBackDiv__25ltd {
		height: 36px;
		top: -97px
	}
	[dir=ltr] .ScrollTop__feedBackDiv__25ltd {
		background-position: bottom 0 right 9px;
		right: -61px
	}
	[dir=rtl] .ScrollTop__feedBackDiv__25ltd {
		background-position: bottom 0 left 9px;
		left: -61px
	}
}

.ScrollTop__feedBackDivText__2NS7T {
	height: 48px;
	width: auto;
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	font-size: 15px;
	line-height: 48px;
	display: inline-block;
	white-space: nowrap
}

[dir] .ScrollTop__feedBackDivText__2NS7T {
	transform: rotate(0deg)
}

[dir=ltr] .ScrollTop__feedBackDivText__2NS7T {
	margin-left: 15px
}

[dir=rtl] .ScrollTop__feedBackDivText__2NS7T {
	margin-right: 15px
}

@media screen and (max-width:731px) {
	.ScrollTop__feedBackDivText__2NS7T {
		height: 36px;
		line-height: 36px
	}
}

[dir=ltr] .ScrollTop__scrollTopShow__w3B0F,
[dir=rtl] .ScrollTop__scrollTopShow__w3B0F {
	-webkit-animation: ScrollTop__scrollTopShow__w3B0F 1s forwards;
	animation: ScrollTop__scrollTopShow__w3B0F 1s forwards
}

.ScrollTop__feedBackTitle__2Nc-S {
	font-size: 15px;
	line-height: 18px;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content
}

[dir=ltr] .ScrollTop__feedBackTitle__2Nc-S {
	margin-right: 4px
}

[dir=rtl] .ScrollTop__feedBackTitle__2Nc-S {
	margin-left: 4px
}